body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.product-details-page {
    text-align: center;
    padding: 20px;
}

.product-details-container {
    background: white;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin: 100px auto 0;
    text-align: left;
}

.product-details-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.rating {
    display: flex;
    gap: 5px;
}

.full-star {
    color: gold;
}
.half-star {
    color: gold;
    position: relative;
    display: inline-block;
}

.half-star::after {
    content: '\2605'; /* Unicode full star */
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: gold;
}

.empty-star {
    color: lightgray;
}

.reviews {
    margin-top: 20px;
}

.reviews h3 {
    margin-bottom: 10px;
}

.reviews div {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #f04e30;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d43f20;
}