<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" th:href="@{/css/header-footer.css}">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Admin Dashboard</h1>

<div th:if="${categoryError}" class="warning">
    <span th:text="${categoryError}"></span>
</div>
<h2>Add Category</h2>
<form th:action="@{/admin/add-category}" method="post">
    <input type="text" name="categoryName" placeholder="Category Name" required>
    <button type="submit">Add Category</button>
</form>

<h2>Update Category</h2>
<form th:action="@{/admin/update-category}" method="post">
    <input type="text" name="categoryName" placeholder="Existing Category Name" required>
    <input type="text" name="newCategoryName" placeholder="New Category Name" required>
    <button type="submit">Update Category</button>
</form>

<h2>Delete Category</h2>
<form th:action="@{/admin/delete-category}" method="post">
    <input type="text" name="categoryName" placeholder="Category Name" required>
    <button type="submit">Delete Category</button>
</form>

<h2>Add Product</h2>
<form th:action="@{/admin/add-product}" method="post">
    <input type="text" name="productName" placeholder="Product Name" required>
    <textarea name="description" placeholder="Description" required></textarea>
    <input type="number" name="price" placeholder="Price" step="0.01" required>
    <input type="number" name="quantity" placeholder="Quantity" required>
    <select name="categoryId" required>
        <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
    </select>
    <input type="url" name="image" placeholder="Image URL" required>
    <button type="submit">Add Product</button>
</form>

<h2>Edit Product</h2>
<form th:action="@{/admin/edit-product}" method="post">
    <input type="number" name="productId" placeholder="Product ID" required>
    <input type="text" name="productName" placeholder="New Product Name">
    <textarea name="description" placeholder="New Description"></textarea>
    <input type="number" name="price" placeholder="New Price" step="0.01">
    <input type="number" name="quantity" placeholder="New Quantity">
    <select name="categoryId" required>
        <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
    </select>
    <input type="url" name="image" placeholder="New Image URL">
    <button type="submit">Edit Product</button>
</form>

<div th:if="${productError}" class="warning">
    <span th:text="${productError}"></span>
</div>
<h2>Delete Product</h2>
<form th:action="@{/admin/delete-product}" method="post">
    <input type="number" name="productId" placeholder="Product ID" required>
    <button type="submit">Delete Product</button>
</form>
</body>
</html>