<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Art Supplies Store</title>
    <link rel="stylesheet"  type="text/css" href="/css/home.css">
    <link rel="stylesheet" th:href="@{/css/header-footer.css}">
</head>
<body>
<!--<header>-->
<div th:replace="~{fragments/header :: header}"></div>

<main>
    <div class="hero">
        <h1>Welcome to the Art Supplies Store</h1>
        <p>Explore our wide range of art supplies and find everything you need for your next masterpiece.</p>
    </div>
</main>

<!--<footer>-->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>